include README.md
include logo_transparent.png
recursive-include gutenTAG/config/schema *
recursive-include gutenTAG/utils *.json
recursive-include gutenTAG/tsgen/contracts/resources/anomaly_contracts *.yaml
